* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

#eight-ball {
    width: 500px;
    height: 500px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message-area {
    width: 200px;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.question-area {
    display: flex;
    flex-flow: column;
    max-width: 300px;
}