* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 15px;
}

.signup-form label {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.signup-form button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: rgb(73, 74, 74);
}

.row {
  display: flex;
  flex-flow: row wrap;
}
