* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    background-color: teal;
    min-height: 100vh;
}

.dice-container {
    display: flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}

.die {
    width: 100px;
    height: 100px;
    margin: 12px;
    background-color: maroon;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.die span:nth-child(2) {
    font-size: 36px;
}