<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue App</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body v-bind:style="{backgroundColor:rgbComp}">
    <div id="app">
        <div>
            <div>RGB Color Palette</div>
            <div class="color-input">
                <div>
                    <span>Red: </span>
                    <input type="number" min="0" max="255" v-model="newColor.red">
                    <div class="slide-box">
                        <div v-for="i in 256" class="color-slider" :style="{ backgroundColor: 'rgb(' + i + ', 0, 0)' }" @click="changeRed(i)"></div>
                    </div>
                </div>
                <div>
                    <span>Green: </span>
                    <input type="number" min="0" max="255" v-model="newColor.green">
                </div>
                <div>
                    <span>Blue: </span>
                    <input type="number" min="0" max="255" v-model="newColor.blue">
                </div>
            </div>
        <button @click="addColor">Add Color</button>
        <div v-bind:style="{backgroundColor:rgbString}" class="display-color"></div>
        </div>
        <div class="display-box">
            <div class="display-saved" v-for="color in colorPalette" v-bind:style="{backgroundColor: color}"></div>
        </div>
        <button @click="complimentColor">Complimentary Color</button>
    </div>
    <script src="app.js"></script>
</body>

</html>