<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joke Generator</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <header>Joke Generator</header>
        <div class="display-joke">
            <div>Joke of the Day</div>
            <div>{{ displayedJoke }}</div>
            <button v-on:click="getDisplayJoke()">New Joke</button>
        </div>
        <input type="text" v-model="search" placeholder="Search...">
        <div class="joke-container">
            <div class="joke" v-for="joke in jokes"  v-if="search.length == 0 && filteredJokes.length == 0">
                {{ joke }}
            </div>
            <div class="joke" v-for="joke in filteredJokes" v-else>
                {{ joke }}
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>